html {
    background-color: #fff;
    padding-top: 20px;
    color: #040;
}

body {
    background-color: #dff;
    width: 60%;
    margin: auto;
    border-radius: 5px;
    box-shadow: 3px 3px 2px #888;
    padding-top: 5px;
}

.kulso {
    margin: 25px;
}

h1 {
    font-family: 'Monotype Corsiva';
}

.cim {
    width: 70%;
    margin: auto;
    text-align: center;
    border: 1px solid #333;
    outline: 4px outset #777;
    outline-offset: 3px;
    background-color: #adffce;
}

table {
    width: 60%;
    margin: auto;
    border-spacing: 3px;

}

th { 
    background-color: rgb(30, 133, 30);
}

td {
    background-color: #adffce;
}

tr:last-of-type td { 
    background-color: rgb(35, 129, 35);
    height: 5px;
}

tr td:last-of-type, th:last-of-type {
    text-align: right;
}

tr td:first-of-type, th:first-of-type {
    text-align: center;
}

tr td:nth-child(2), th:nth-child(2) {
    text-align: right;
}

#menu td {
    background-color: #adffce;
    border: 1px solid #333;
    text-align: center;
    padding: 8px;

}

#menu {
    border: 2px outset black;
    outline-offset: -1px;
    margin-top: 20px;
}